{% extends 'base.html.twig' %}

{% block body %}
    <h1>Status</h1>
    <h2>Feedbacks in next 30 days with and without appointed meetings</h2>
    <canvas id="myChart" width="400" height="400"></canvas>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.min.js"></script>
    <script>
        var data = {{ data|raw }};

        jQuery(document).ready(function initCanvas() {
            // Get the context of the canvas element we want to select
            var ctx = $("#myChart").get(0).getContext("2d");
            var myNewChart = new Chart(ctx).PolarArea(data);
        });

    </script>
{% endblock %}
{% block stylesheets %}
<style>
</style>
{% endblock %}
